  <div class="container col l6">
    <label for="usuario"><b>Usuario</b></label>
    <input type="text" placeholder="Ingresa Usuario" name="usuario" required>

    <label for="contrasena"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingresa Contraseña" name="contrasena" required>

    <button type="submit" a href="sesion">Ingresar</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="help">¿Olvidó sus credenciales? Haga click <a href="registro">aquí</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <span class="help">¿Busca registrar su negocio? Haga click <a href="registro">aquí</a></span>
  </div>
