<label>Browser Select</label>
<select class="browser-default col l4 push-l1">
  <option value="" disabled selected>Seleccione el tema de su comentario</option>
  <option value="1">Precios incorrectos</option>
  <option value="2">Estado incorrecto</option>
  <option value="3">Dirección incorrecta</option>
  <option value="4">Errores</option>
  <option value="5">General</option>
  <option value="6">Soporte y ayuda</option>
  <option value="7">Otros</option>
</select>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Ingrese su comentario</label>
      </div>
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>
