<p style="color:white;" class="left col l6">
  Para registrar su negocio: <br>

Por favor pónganse en contacto con el correo changerate.mxli@gmail.com con los siguientes datos: <br>
<li>
  <ul>Razón social del negocio</ul>
  <ul>RFC del negocio</ul>
  <ul>Dueño o gerente del establecimiento </ul>
  <ul>Dirección del establecimiento</ul>
  <ul>Correo eléctronico de contacto</ul>
</li>
<br>
En seguida, se le informará su alta en el sistema y se le proporcionará un usuario y contraseña.
</p>
<p style="color:white;" class="right col l6">
  Para recuperar sus credenciales: <br>
  Por favor pónganse en contacto con el correo changerate.mxli@gmail.com con los siguientes datos:<br>
  <li>
  <ul>RFC del negocio </ul>
  <ul>Dueño o gerente del establecimiento </ul>
  <ul>Dirección del establecimiento </ul>
  <ul>La(s) credencial(es) a recuperar </ul>
</li>
<br>
En seguida, se le proporcionará con credenciales actualizadas.
</p>
