<h4 style="text-align: center;">Exchange Rate es un página para consultar los precios actuales de las diversas<br> Casas de Cambio en la ciudad.<br>
  Los precios y otros detalles son actualizados diariamente para la comodidad del usuario <br>
  por parte de los establecimientos registrados en este sitio.<br><br>

  Para continuar, selecciona una opción de abajo:<br><br>

  <a class="btn-large" a href="cliente">Cliente</a> /
  <a class="btn-large" a href="negocio">Negocio</a>

  <br>
  <br>
  <hr style="width: 70%;">
  <br>

  (¿Cuál debo elegir? Revisa nuestra sección de <a href="informacion">Ayuda</a>)</h4><br>
