
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l4 push-l2">
                <h5 class="white-text">Interfaces</h5>
                <p class="grey-text text-lighten-4">Cliente</p>
                <p class="grey-text text-lighten-4">Negocio</p>
              </div>
              <div class="col l4 push-l2">
                <h5 class="white-text">Ayuda</h5>
                <p class="grey-text text-lighten-4">Información</p>
                <p class="grey-text text-lighten-4">Comentarios</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Exchange Rate ©2022. Mexicali, B.C.
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
