
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l4 push-l2">
                <h5 class="white-text">Interfaces</h5>
                <p style='color: white;'class="grey-text text-lighten-4" ><a href="cliente">Cliente</a></p>
                <p style='color: white;'class="grey-text text-lighten-4"><a href="negocio">Negocio</a></p>
              </div>
              <div class="col l4 push-l2">
                <h5 class="white-text">Ayuda</h5>
                <p style='color: white;'class="grey-text text-lighten-4"><a href="informacion">Información</a></p>
                <p style='color: white;'class="grey-text text-lighten-4"><a href="comentarios">Comentarios</a></p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Exchange Rate ©2022. Mexicali, B.C.
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
