<div>
  <nav>
    <div class="nav-wrapper col s1">
      <ul class="sidenav" id="mobile-demo">
        <li><a href="#cliente">Cliente</a></li>
        <li><a href="#negocio">Negocio</a></li>
        <li><a href="#comentarios">Comentarios</a></li>
        <li><a href="#informacion">Información</a></li>
      </ul>
      <a href="#!" class="brand-logo col s6 l2 push-l1 push-s4" a href="#home-page">Exchange Rate</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down col l6">
        <li class="col l2"><a href="#cliente">Cliente</a></li>
        <li class="col l2"><a href="#negocio">Negocio</a></li>
        <li class="col l2"><a href="#comentarios">Comentarios</a></li>
        <li class="col l2"><a href="#informacion">Información</a></li>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger col s6 pull-s1"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
